body {
    background-color: #222222;
    margin: 0;
    font-family: "Open Sans", "bold";
    font-size: 15px;
}

footer {
    color: #E4E4E4;
    font-weight: bold;
    line-height: 2;
}

.logo {
    width: 140px;
    height: 40px;
    position: relative;
    top: 20px;
    left: 20px;
}

.nav-options {
    position: absolute;
    right: 40px;
    top: 20px;
}

.nav-options ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav-options li {
    float: left;
    margin: 10px;
}

.contact {
    background-color: #044343;
    position: absolute;
    bottom: 0; 
    width: 100%;
    height: 80px;
    text-align: center;
}

.copyright{
    position: absolute;
    left: 10px;
    top: 40px;
}

#header {
    background-color: #E4E4E4;
    height: 80px;
    position: sticky;
    opacity: 1;
}
.titulo { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.Login{
    position: absolute;
    top: 30%;
    left: 35%;
    font-family: "Open Sans", "bold";
    font: bold;
}

.Login h1{
    position: relative;
left: 25%;
}





.form input {
    width: 85%;
    height: 50px;
    margin: 0.9em;
    border-radius: 15px;
    background-color: #E4E4E4;
    border: 0;
    color: #2222;
    text-align: center;
    font-family: "Open Sans", "bold";

}

.gh{
    
}



  .button {
      width: 80px;
      height: 40px;
      border-radius: 5px;
      background-color: #222222;
      border-color: #E4E4E4;
      border-width: 2px;
      border-style: solid;
      color: #E4E4E4;
      position: relative;
      left: 37%;
      font-size: 16px;
      font-family:"Open Sans", "bold" ;

}